In [1]:
import pandas as pd

import numpy as np
from sklearn import preprocessing
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline, FeatureUnion

# for cross validation
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
#from sklearn.model_selection import cross_validation
from sklearn.model_selection import cross_val_predict, cross_val_score

# for various metrics and reporting
from sklearn import metrics 
from sklearn.metrics import roc_curve
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

# feature selection
from sklearn.feature_selection import SelectFromModel

# xgboost library
from xgboost import XGBClassifier

# plot feature importance
from xgboost import plot_importance, plot_tree

In [2]:
import matplotlib.pyplot as plt
plt.rc("font", size=14)

# we will use the seaborn for visually appealing plots
import seaborn as sns
sns.set() # set the seaborn stylesheet

In [3]:
import sys
import types
import pandas as pd
from botocore.client import Config
import boto3

def __iter__(self): return 0

In [60]:
# data_raw_all = pd.read_txt("example_subjective.txt")
dataset=pd.read_csv("example_subjective.txt",delimiter="\n")
df=pd.read_table('example_subjective.txt',header=None)
print(dataset)

   smart and alert , thirteen conversations about one thing is a small gem .
0   color , musical bounce and warm seas lapping o...
1   it is not a mass-market entertainment but an u...
2   a light-hearted french film about the spiritua...
3   my wife is an actress has its moments in looki...
4   works both as an engaging drama and an incisiv...
5   even a hardened voyeur would require the patie...
6   when perry fists a bull at the moore farm , it...
7   the characters . . . are paper-thin , and thei...
8   the script is a tired one , with few moments o...
9   the bland outweighs the nifty , and cletis tou...
10  directed by david twohy with the same great ey...
11  it's a very tasteful rock and roll movie . you...
12  provides the kind of 'laugh therapy' i need fr...
13  worth a look by those on both sides of the iss...
14  watching the film is like reading a times port...
15  despite these annoyances , the capable claybur...
16  it's a good thing that woolly mammoths are ext...
17  preposterous and tedious , sonny is spiked wit...
18  4ever has the same sledgehammer appeal as poke...
19  si el siglo xxi necesita de h�roes , el hombre...
20  it's hard to tell with all the crashing and ba...
21  it desperately wants to be a wacky , screwball...
22  writer/director walter hill is in his hypermas...
23  hill looks to be going through the motions , b...
24  extremely well cast , especially in the large ...
25  a chilling tale of one of the great crimes of ...
26  a dark , quirky road movie that constantly def...
27  impostor doesn't do much with its template , d...
28  though it lacks the utter authority of a genre...

In [5]:

import re
def importtxtfile(path):
    list_of_lists = []
    with open(path) as f:
        for line in f:
            z=re.split('; | , |\*|\n',line)
 #         inner_list = [line.strip() for line in re.split(',|.', line)]
            for i in z :
                list_of_lists.append( i)
    return (list_of_lists)

    # ** split character = inspect txt file how columns are separated, normally tab.

    # once you have list of list you can convert it to dataframe using pandas.
    # df = pd.Dataframe(list_of_lists)

In [24]:
data=importtxtfile("example_subjective.txt")
type(data)
data=cleaningdata(data)

In [25]:
df1 = pd.DataFrame({'art':data})
print(df1)

def cleaningdata(list):
    for i in list:
        if (len(i)<2) :
            list.remove(i)
    return(list)

                                                  art
0                                     smart and alert
1   thirteen conversations about one thing is a sm...
2                                               color
3   musical bounce and warm seas lapping on island...
4   it is not a mass-market entertainment but an u...
5   a light-hearted french film about the spiritua...
6   my wife is an actress has its moments in looki...
7                                              though
8   it is only mildly amusing when it could have b...
9   works both as an engaging drama and an incisiv...
10  even a hardened voyeur would require the patie...
11  shapeless documentary about the swinging subcu...
12          when perry fists a bull at the moore farm
13  it's only a matter of time before he gets the ...
14                the characters . . . are paper-thin
15  and their personalities undergo radical change...
16                          the script is a tired one
17  with few moments of joy rising above the stale...
18                      the bland outweighs the nifty
19  and cletis tout never becomes the clever crime...
20  directed by david twohy with the same great ey...
21  it's a very tasteful rock and roll movie . you...
22  provides the kind of 'laugh therapy' i need fr...
23                                 amusing characters
24    and a happy ending . after seeing 'analyze that
25                          ' i feel better already .
26  worth a look by those on both sides of the issues
27              if only for the perspective it offers
28                       one the public rarely sees .
29  watching the film is like reading a times port...
30                           despite these annoyances
31  the capable clayburgh and tambor really do a g...
32  it's a good thing that woolly mammoths are ext...
33  because this movie will have every kid in the ...
34                           preposterous and tedious
35   sonny is spiked with unintentional laughter that
36                                      unfortunately
37  occurs too infrequently to make the film even ...
38  4ever has the same sledgehammer appeal as poke...
39  but it breathes more on the big screen and ind...
40               si el siglo xxi necesita de hï¿½roes
41  el hombre araï¿½a parece haber llegado para qu...
42  it's hard to tell with all the crashing and ba...
43                 it desperately wants to be a wacky
44                                   screwball comedy
45  but the most screwy thing here is how so many ...
46  writer/director walter hill is in his hypermas...
47  once again able to inject some real vitality a...
48  in many other hands would be completely forget...
49         hill looks to be going through the motions
50                   beginning with the pale script .
51                                extremely well cast
52  especially in the large number of supporting r...
53  a chilling tale of one of the great crimes of ...
54                                             a dark
55  quirky road movie that constantly defies expec...
56         impostor doesn't do much with its template
57                 despite a remarkably strong cast .
58  though it lacks the utter authority of a genre...
59  there's a certain robustness to this engaging ...

In [26]:
df1["subj or obj"]= 0
df1

                                                  art  subj or obj
0                                     smart and alert            0
1   thirteen conversations about one thing is a sm...            0
2                                               color            0
3   musical bounce and warm seas lapping on island...            0
4   it is not a mass-market entertainment but an u...            0
5   a light-hearted french film about the spiritua...            0
6   my wife is an actress has its moments in looki...            0
7                                              though            0
8   it is only mildly amusing when it could have b...            0
9   works both as an engaging drama and an incisiv...            0
10  even a hardened voyeur would require the patie...            0
11  shapeless documentary about the swinging subcu...            0
12          when perry fists a bull at the moore farm            0
13  it's only a matter of time before he gets the ...            0
14                the characters . . . are paper-thin            0
15  and their personalities undergo radical change...            0
16                          the script is a tired one            0
17  with few moments of joy rising above the stale...            0
18                      the bland outweighs the nifty            0
19  and cletis tout never becomes the clever crime...            0
20  directed by david twohy with the same great ey...            0
21  it's a very tasteful rock and roll movie . you...            0
22  provides the kind of 'laugh therapy' i need fr...            0
23                                 amusing characters            0
24    and a happy ending . after seeing 'analyze that            0
25                          ' i feel better already .            0
26  worth a look by those on both sides of the issues            0
27              if only for the perspective it offers            0
28                       one the public rarely sees .            0
29  watching the film is like reading a times port...            0
30                           despite these annoyances            0
31  the capable clayburgh and tambor really do a g...            0
32  it's a good thing that woolly mammoths are ext...            0
33  because this movie will have every kid in the ...            0
34                           preposterous and tedious            0
35   sonny is spiked with unintentional laughter that            0
36                                      unfortunately            0
37  occurs too infrequently to make the film even ...            0
38  4ever has the same sledgehammer appeal as poke...            0
39  but it breathes more on the big screen and ind...            0
40               si el siglo xxi necesita de hï¿½roes            0
41  el hombre araï¿½a parece haber llegado para qu...            0
42  it's hard to tell with all the crashing and ba...            0
43                 it desperately wants to be a wacky            0
44                                   screwball comedy            0
45  but the most screwy thing here is how so many ...            0
46  writer/director walter hill is in his hypermas...            0
47  once again able to inject some real vitality a...            0
48  in many other hands would be completely forget...            0
49         hill looks to be going through the motions            0
50                   beginning with the pale script .            0
51                                extremely well cast            0
52  especially in the large number of supporting r...            0
53  a chilling tale of one of the great crimes of ...            0
54                                             a dark            0
55  quirky road movie that constantly defies expec...            0
56         impostor doesn't do much with its template            0
57                 despite a remarkably strong cast .            0
58  though it lacks the utter authority of a genre...            0
59  there's a certain robustness to this engaging ...            0

In [185]:
# for i in range len(df):
#     df["subj or obj"][i]=1
df

                                                   art
0    the movie begins in the past where a young boy...
1
2    emerging from the human psyche and showing cha...
3                minimalism and russian constructivism
4    graffiti removal has secured its place in the ...
..                                                 ...
99
100  straight up : helicopters in action will take ...
101
102  a lapp woman anni gives a shelter to both of t...
103

[104 rows x 1 columns]

In [27]:
data1=importtxtfile("example_objective.txt")

In [28]:
data1=cleaningdata(data1)
df = pd.DataFrame({'art':data1})

In [29]:
df

                                                  art
0   the movie begins in the past where a young boy...
1   emerging from the human psyche and showing cha...
2               minimalism and russian constructivism
3   graffiti removal has secured its place in the ...
4   spurning her mother's insistence that she get ...
..                                                ...
69  sees it all as make believe and refuses to bel...
70  called " an elegant documentary " by sundance ...
71  toyo miyatake : infinite shades of gray is a p...
72  straight up : helicopters in action will take ...
73  a lapp woman anni gives a shelter to both of t...

[74 rows x 1 columns]

In [30]:
df["subj or obj"]= 1

In [31]:
df

                                                  art  subj or obj
0   the movie begins in the past where a young boy...            1
1   emerging from the human psyche and showing cha...            1
2               minimalism and russian constructivism            1
3   graffiti removal has secured its place in the ...            1
4   spurning her mother's insistence that she get ...            1
..                                                ...          ...
69  sees it all as make believe and refuses to bel...            1
70  called " an elegant documentary " by sundance ...            1
71  toyo miyatake : infinite shades of gray is a p...            1
72  straight up : helicopters in action will take ...            1
73  a lapp woman anni gives a shelter to both of t...            1

[74 rows x 2 columns]

In [32]:
df_row = pd.concat([df1, df])
#join the dataframe

In [18]:
df_row

                                                   art  subj or obj
0                                      smart and alert          0.0
1    thirteen conversations about one thing is a sm...          0.0
2                                                               0.0
3                                                color          0.0
4    musical bounce and warm seas lapping on island...          0.0
..                                                 ...          ...
99                                                              NaN
100  straight up : helicopters in action will take ...          NaN
101                                                             NaN
102  a lapp woman anni gives a shelter to both of t...          NaN
103                                                             NaN

[194 rows x 2 columns]

In [33]:
df_row.sample(frac=1).reset_index(drop=True)
#mix the dataframe

                                                   art  subj or obj
0                                                 1952            1
1    works both as an engaging drama and an incisiv...            0
2                     he finds out who his father is .            1
3                                  extremely well cast            0
4    thirteen conversations about one thing is a sm...            0
..                                                 ...          ...
129  david is a painter with painter's block who ta...            1
130        women craved him and men wanted to be him .            1
131  toyo miyatake : infinite shades of gray is a p...            1
132                                as a young teenager            1
133               si el siglo xxi necesita de hï¿½roes            0

[134 rows x 2 columns]

In [34]:
#split and train the data  frame
from sklearn.datasets import load_boston
boston = load_boston()
df_row.info()
df_row.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134 entries, 0 to 73
Data columns (total 2 columns):
art            134 non-null object
subj or obj    134 non-null int64
dtypes: int64(1), object(1)
memory usage: 3.1+ KB

       subj or obj
count   134.000000
mean      0.552239
std       0.499130
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

In [35]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
#separate the  target  from the data
X, y = df_row.iloc[:,:-1],df_row.iloc[:,-1]

#splitting the data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)
print(X_train)
print(y_train)

#df_row.to_csv(r'test1.1.csv')

                                                  art
2               minimalism and russian constructivism
64                      an eleven year old school boy
0   the movie begins in the past where a young boy...
55                                              nglio
41                                               1952
..                                                ...
17  with few moments of joy rising above the stale...
38  gerry's estranged wife margaret is worried for...
6                                     rejected by joe
66                                            however
49                   he finds out who his father is .

[107 rows x 1 columns]
2     1
64    1
0     1
55    1
41    1
     ..
17    0
38    1
6     1
66    1
49    1
Name: subj or obj, Length: 107, dtype: int64

In [58]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,max_depth = 3, n_estimators = 100)

In [196]:

# # train XGBoost model with default parameters
# my_model = XGBClassifier()
# my_model.fit(X_train, y_train, verbose=False)

# # and save our model
# my_model.save_model("xgboost_baseline.model")

In [146]:
print ("the hole dataset is here")

the hole dataset is here

In [39]:
#dataset=pd.read_csv("hello\example_subjective.txt",delimiter="\t")
subjective_train=pd.read_table('hello\subjective_cv_train.txt',header=None)
objective_train=pd.read_table('hello\objective_cv_train.txt',header=None)

In [40]:
subjective_train=importtxtfile('hello\subjective_cv_train.txt')
objective_train=importtxtfile('hello\objective_cv_train.txt')


#df = pd.DataFrame({'col':data1})
st=pd.DataFrame({'art':cleaningdata(subjective_train)})
ot=pd.DataFrame({'art':cleaningdata(objective_train)})

In [41]:
st["sub or obj"]=1
ot["sub or obj"]=0

In [42]:

train = pd.concat([st, ot], ignore_index=True)

train

                                                     art  sub or obj
0                                        smart and alert           1
1      thirteen conversations about one thing is a sm...           1
2                                                  color           1
3      musical bounce and warm seas lapping on island...           1
4      it is not a mass-market entertainment but an u...           1
...                                                  ...         ...
19872  the two young women form an unlikely friendshi...           0
19873                                                              0
19874        they grew up sharing a special relationship           0
19875         in which they existed only to each other .           0
19876                                                              0

[19877 rows x 2 columns]

In [50]:
train.sample(frac=1).reset_index(drop=True)

                                                     art  sub or obj
0                                      phone councilling           0
1                                   looking aristocratic           1
2                        to the olympus of the art world           1
3      aaliyah rarely dampens her diva persona enough...           1
4      this is the amazing story of one man and one w...           0
...                                                  ...         ...
19872  the twist that ends the movie is the one with ...           1
19873  manages to be wholesome and subversive at the ...           1
19874  the large-frame imax camera lends itself beaut...           1
19875        full of unforgiving irony and quiet realism           1
19876  her paranoia seeps insidiously into her newfou...           0

[19877 rows x 2 columns]

In [52]:
X,y = train.iloc[:,:-1],train.iloc[:,-1]

import category_encoders as ce
# encode all features using ordinal encoding
encoder_x = ce.OrdinalEncoder()
X_encoded = encoder_x.fit_transform(X)

# you'll need to use a different encoder for each dataframe
encoder_y = ce.OrdinalEncoder()
y_encoded = encoder_y.fit_transform(y)

# split encoded dataset
X_train_encoded, X_test_encoded, y_train_encoded, y_test_encoded = train_test_split(X_encoded, y_encoded)

In [169]:
pip install --upgrade category_encoders

Collecting category_encoders
  Downloading category_encoders-2.1.0-py2.py3-none-any.whl (100 kB)
Requirement already satisfied, skipping upgrade: pandas>=0.21.1 in c:\users\hedi\.conda\envs\factory619\lib\site-packages (from category_encoders) (0.25.1)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.0 in c:\users\hedi\.conda\envs\factory619\lib\site-packages (from category_encoders) (0.21.3)
Requirement already satisfied, skipping upgrade: statsmodels>=0.6.1 in c:\users\hedi\.conda\envs\factory619\lib\site-packages (from category_encoders) (0.10.1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.3 in c:\users\hedi\.conda\envs\factory619\lib\site-packages (from category_encoders) (1.16.5)
Requirement already satisfied, skipping upgrade: patsy>=0.4.1 in c:\users\hedi\.conda\envs\factory619\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.0 in c:\users\hedi\appdata\roaming\python\python37\site-packages (from category_encoders) (1.4.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\hedi\.conda\envs\factory619\lib\site-packages (from pandas>=0.21.1->category_encoders) (2019.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\hedi\.conda\envs\factory619\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\hedi\.conda\envs\factory619\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (0.13.2)
Requirement already satisfied, skipping upgrade: six in c:\users\hedi\.conda\envs\factory619\lib\site-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [45]:
train.to_csv(r'train1.1.csv')

In [59]:
encoder_x

from xgboost import XGBClassifier

# train XGBoost model with default parameters
my_model = XGBClassifier(max_depth=3, learning_rate=0.1, verbosity =1, reg_lambda=1)
my_model.fit(X_encoded,y_encoded , verbose=False)





y_pred = my_model.predict(X_test_encoded)

print('accuracy %s' % accuracy_score(y_pred, y_test_encoded))
print(classification_report(y_test_encoded, y_pred))

# and save our model
#my_model.save_model("xgboost_baseline.model")
X_test

C:\Users\hedi\.conda\envs\factory619\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hedi\.conda\envs\factory619\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuracy 0.9953722334004024
              precision    recall  f1-score   support

           0       1.00      0.99      1.00      2634
           1       0.99      1.00      1.00      2336

    accuracy                           1.00      4970
   macro avg       1.00      1.00      1.00      4970
weighted avg       1.00      1.00      1.00      4970

                                                  art
4   it is not a mass-market entertainment but an u...
44  and mysterious city caught in the grips of the...
50                                            in life
29  watching the film is like reading a times port...
42  it's hard to tell with all the crashing and ba...
59  there's a certain robustness to this engaging ...
45  but the most screwy thing here is how so many ...
0                                     smart and alert
58  rejecting and seducing are played out in an ec...
35   sonny is spiked with unintentional laughter that
24    and a happy ending . after seeing 'analyze that
48                                as a young teenager
59                               without much gusto .
31  the capable clayburgh and tambor really do a g...
8   it is only mildly amusing when it could have b...
5   a light-hearted french film about the spiritua...
16                          the script is a tired one
13  it's only a matter of time before he gets the ...
52                                   and there's lead
65  who's family is visited by three debt collecto...
28                       one the public rarely sees .
3   graffiti removal has secured its place in the ...
38  4ever has the same sledgehammer appeal as poke...
22                                            burning
33  because this movie will have every kid in the ...
45                              deep in the northwest
37  occurs too infrequently to make the film even ...

In [47]:

encoder_x1 = ce.OrdinalEncoder()
X_encoded_test = encoder_x1.fit_transform(X_test)
encoder_y1 = ce.OrdinalEncoder()
y_encoded_test = encoder_y1.fit_transform(y_tereg_lambda= y_pred = my_model.predict(X_encoded_test)
# predictions = [round(value) for value in y_encoded_test]

In [48]:
y_pred = my_model.predict(X_encoded_test)
y_pred=y_pred.tolist()

#  predictions = [round(value) for value in y_encoded_test]

In [ ]:
# x=0
# #y_test=y_test.tolist()
# # print(type(y_pred) ,type(y_test.tolist()))
# for i in range (len(y_pred)):
#     if (y_pred[i]==y_test[i]):
#         x+=1
# x=x/len(y_pred)
# print(x)